* {
    box-sizing: border-box;
}

:root {
    --primary-color: #10375c;
    --secondary-color: #2e80ce;
    --white-color: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

.btn {
    --height: 60px;
    min-width: 205px;
    height: var(--height);
    padding: 0 20px;
    border-radius: 999px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 400;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Header */
.header {
    background-color: var(--primary-color);
    min-height: 100vh;
    padding-top: 30px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    display: inline-flex;
    font-size: 1rem;
    position: relative;
}

.logo__circle::before,
.logo__circle::after {
    display: inline-block;
    content: "";
    border-radius: 50%;
}

.logo__circle::before {
    background-color: var(--secondary-color);
    width: 3em;
    height: 3em;
}

.logo__circle::after {
    width: 1.6em;
    height: 1.6em;
    background-color: var(--white-color);
    position: absolute;
    top: 1.1em;
    left: 1.1em;
}

.logo__text {
    margin-left: 0.6em;
}

.logo__branch {
    display: block;
    color: var(--white-color);
    font-size: 1.8em;
    font-weight: 400;
    text-align: right;
}

.logo__branch--small {
    font-size: 1.2em;
    font-weight: 300;
}

/* Navbar */
.navbar__list {
    display: flex;
}

.navbar__item {
    position: relative;
}

.navbar__item:hover .navbar__link,
.navbar__item--active .navbar__link {
    color: var(--white-color);
    text-shadow: 1px 0 0 currentColor;
}

.navbar__item--active::before {
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    background-color: var(--white-color);
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.navbar__link,
.header-action__login {
    padding: 4px 21px;
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__sign-up {
    --height: 44px;
    min-width: 104px;
    font-size: 1.6rem;
    line-height: 1.75;
    margin-left: 7px;
}

/* Hero */
.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44%;
}

.hero__heading {
    color: var(--white-color);
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
    margin-top: 22px;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__phone {
    color: var(--white-color);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin-left: 38px;
}

.hero__media {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    margin-right: -6px;
    position: relative;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}
